<div class="container mt-5">
    <h2 class="mb-4 text-center">Update User</h2>
    <form (ngSubmit)="updateUser()">
        <div class="form-group">
            <label for="userName">Username</label>
            <input
              type="text"
              id="userName"
              class="form-control"
              [(ngModel)]="user.userName"
              name="userName"
              placeholder="İstifadəçi adı daxil et"
              required
            />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              [(ngModel)]="user.email"
              name="email"
              placeholder="Email daxil et"
              required
            />
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              [(ngModel)]="user.name"
              name="name"
              placeholder="Ad daxil et"
              required
            />
        </div>
        <div class="form-group">
            <label for="surname">Surname</label>
            <input
              type="text"
              id="surname"
              class="form-control"
              [(ngModel)]="user.surname"
              name="surname"
              placeholder="Soyad daxil et"
              required
            />
        </div>
        <div class="form-group">
            <label for="birthDate">Doğum Tarixi</label>
            <input
              type="date"
              id="birthDate"
              class="form-control"
              [(ngModel)]="user.birthDate"
              name="birthDate"
              required
            />
        </div>
        <button type="submit" class="btn btn-primary mt-3">İstifadəçini daxil et</button>
    </form>
</div>
