<div class="container mt-1" *ngIf="role === 'Admin'">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h2 class="text-center mb-0">Yeni Kitab Yarat</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="addType()" #typeForm="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Tipi</label>
            <input
              id="name"
              type="text"
              class="form-control"
              [(ngModel)]="type.name"
              name="name"
              placeholder="Tipin daxil edin"
              required
              #title="ngModel"
            />
            <div *ngIf="type.typeName.touched && type.typeName.invalid" class="text-danger">
              Tipi boş ola bilməz.
            </div>
          </div>
  
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="typeForm.invalid">
              Tipin daxil et
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  