.ghost{
    position: absolute;
    height: 400px;
    padding: 10px;
}
// .ghost svg{
//     color: red;
// }
// .ghost:hover{
//     background: darkgrey;
//     opacity: 0.1;
//     color: red;
// }
// .ghostsvg{
//     z-index: 10000;
// }