<div class="container mt-1">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h2 class="text-center mb-0">Yeni Kateqoriya Yarat</h2>
      </div>
      <div class="card-body">
        <form (ngSubmit)="addCategory()" #categoryForm="ngForm">
          <div class="mb-3">
            <label for="name" class="form-label">Kateqoriyası</label>
            <input
              id="name"
              type="text"
              class="form-control"
              [(ngModel)]="category.name"
              name="name"
              placeholder="Kateqoriyasın daxil edin"
              required
              #title="ngModel"
            />
            <div *ngIf="category.name.touched && category.name.invalid" class="text-danger">
              Kateqoriyası boş ola bilməz.
            </div>
          </div>
  
          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="categoryForm.invalid">
              Kateqoriyasın daxil et
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  