.pagination {
    display: flex;
    justify-content: center;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-item.disabled {
    pointer-events: none;
  }
  
  .page-item.active .page-link {
    background-color: #007bff;
    color: white;
  }
  