<nav class="navbar navbar-expand-lg" >
  <div class="container">
    <img class="mmulogo mx-2" src="assets/images/MMU Kontur2_040550.png" alt="">
    <img class="mmulogo" src="assets/images/HII-monoton-logo.png" alt="">
    <div class="collapse navbar-collapse mx-5 container" id="navbarNav">
      <h1 class="navbar-brand" href="#">Milli Müdafiə Universiteti</h1>
      <h1 class="navbar-brand" href="#">Hərbi İdarəetmə İnstitutu</h1>
    </div>
    <div>
      <a routerLink="/admin/dashboard" routerLinkActive="active" class="nav-link" style="width: 131px;">e-Kitabxana Giriş</a>
    </div>
  </div>
</nav>
