<section class="bgc" *ngIf="role === 'Admin' || role === 'Client' ">
  <div class="container my-5">
    <div class="row">
        <div class="col-md-6 mt-5">
          <h2 style="color:#fff; text-align: left; font-size: 27px;" class="mb-4">
            E-kitabxananın Üstünlükləri
          </h2>
          <p style="color:#fff; font-size: 21px; font-style: arial;">
            E-kitabxanalar müasir texnologiyanın təklif etdiyi imkanlardan istifadə edərək bilik əldə
            etməyi daha rahat və əlçatan edir. Ənənəvi kitabxanalarla müqayisədə bir çox üstünlükləri
            vardır. İstənilən vaxt və istənilən yerdən minlərlə resursa çıxış imkanı yaradır. Sürətli
            axtarış funksiyası ilə istənilən kitabı və ya məlumatı qısa zamanda tapmaq mümkündür. Açar
            sözlər, müəllif və ya mövzuya görə axtarış variantları təqdim edir. E-kitabxanalar bilik əldə
            etmək üçün daha rahat, effektiv və ətraf mühitə uyğun bir seçimdir. Bu üstünlüklər texnologiya
            ilə təhsilin birləşməsinin gələcəkdə daha geniş yayılacağını göstərir.
          </p>
        </div>
        <div class="col-md-6">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" >
                <img class="d-flex w-100  imageslide" style="margin: 0 auto;" src="/assets/images/HIIbinasi.jpg" alt="First slide">
              </div>
              <div class="carousel-item ">
                <img class="d-flex w-100  imageslide" style="margin: 0 auto;" src="/assets/images/E-kitabxana.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 imageslide" src="/assets/images/e-kitabxana(1).jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 imageslide" src="/assets/images/e-kitabxana(2).jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 imageslide" src="/assets/images/kitabxana.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 imageslide" src="/assets/images/H.Aliyev.jpg" alt="Third slide">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
      </div>
    </div>
    
  </div>
     
     
     
 
</section>
<section class="bgc " *ngIf="role === 'Admin' || role === 'Client' ">
  <div class="container-fluid mb-5 mt-1">
    
      <div id="multiItemCarousel" class="carousel slide " style="display: flex; justify-content: center;" data-bs-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#multiItemCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#multiItemCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#multiItemCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
      
        <!-- Carousel Items -->
        <div class="carousel-inner">
          <!-- First Slide -->
          <div class="carousel-item active">
            <div class="row ">
              <div class="col-md-4">
                <img src="assets/images/library.jpg " class="d-block imageslide2"  alt="Image 1">
              </div>
              <div class="col-md-4">
                <img src="assets/images/WhatsApp Image 2024-12-10 at 09.30.36_3b73afd2.jpg" class="d-block imageslide2" alt="Image 2">
              </div>
              <div class="col-md-4">
                <img src="assets/images/WhatsApp Image 2024-12-10 at 09.30.36_b9ad1cf2.jpg" class="d-block imageslide2" alt="Image 3">
              </div>
            </div>
          </div>
          <!-- Second Slide -->
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/WhatsApp Image 2024-12-10 at 09.30.36_e65ab132.jpg" class="d-block imageslide2" alt="Image 4">
              </div>
              <div class="col-md-4">
                <img src="assets/images/WhatsApp Image 2024-12-10 at 09.30.37_4fb7762d.jpg" class="d-block imageslide2" alt="Image 5">
              </div>
              <div class="col-md-4">
                <img src="assets/images/WhatsApp Image 2024-12-10 at 09.30.37_6e51ff4f.jpg" class="d-block imageslide2" alt="Image 6">
              </div>
            </div>
          </div>
          <!-- Third Slide -->
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-4">
                <img src="assets/images/WhatsApp Image 2024-12-10 at 09.30.38_4d9d3aba.jpg" class="d-block imageslide2" alt="Image 7">
              </div>
              <div class="col-md-4">
                <img src="assets/images/WhatsApp Image 2024-12-10 at 09.30.38_03841d3a.jpg" class="d-block w-100 imageslide2" alt="Image 8">
              </div>
              <div class="col-md-4">
                <img src="assets/images/library(1).jpg" class="d-block imageslide2" alt="Image 9">
              </div>
            </div>
          </div>
        </div>
      
        <!-- Controls -->
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -->
        
      </div>
    </div>

</section>
