<div class="background-image">
  <!-- <div class="overlay"></div> -->
  <div class="content">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="needs-validation">
      <h2 class="text-white mb-4" style="color:#000 !important;">Qeydiyyat</h2>

      <!-- User Name -->
      <div class="mb-3">
        <div class="form-floating d-flex justify-content-center">
          <input
            class="form-control w-50"
            id="userName"
            formControlName="userName"
            type="text"
            placeholder="User Name"
          />
        </div>
        <div *ngIf="registerForm.get('userName')?.invalid && registerForm.get('userName')?.touched" class="text-danger small mt-1">
          İstifadəçi adı yazmağınız tələb olunur.
        </div>
      </div>

      <!-- Email -->
      <div class="mb-3">
        <div class="form-floating d-flex justify-content-center">
          <input
            class="form-control w-50"
            id="email"
            formControlName="email"
            type="email"
            placeholder="Email"
          />
        </div>
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-danger small mt-1">
          Email yazmağınız tələb olunur.
        </div>
      </div>

      <!-- Name -->
      <div class="mb-3">
        <div class="form-floating d-flex justify-content-center">
          <input
            class="form-control w-50"
            id="name"
            formControlName="name"
            type="text"
            placeholder="Name"
          />
        </div>
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched" class="text-danger small mt-1">
         Ad yazmağınız tələb olunur.
        </div>
      </div>

      <!-- Surname -->
      <div class="mb-3">
        <div class="form-floating d-flex justify-content-center">
          <input
            class="form-control w-50"
            id="surname"
            formControlName="surname"
            type="text"
            placeholder="Surname"
          />
        </div>
        <div *ngIf="registerForm.get('surname')?.invalid && registerForm.get('surname')?.touched" class="text-danger small mt-1">
          Soyad yazmağınız tələb olunur.
        </div>
      </div>

      <!-- Birth Date -->
      <div class="mb-3">
        <div class="form-floating d-flex justify-content-center">
          <input
            class="form-control w-50"
            id="birthDate"
            formControlName="birthDate"
            type="date"
            placeholder="Birth Date"
          />
        </div>
        <div *ngIf="registerForm.get('birthDate')?.invalid && registerForm.get('birthDate')?.touched" class="text-danger small mt-1">
          Doğum tarixi yazmağınız tələb olunur.
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <div class="form-floating d-flex justify-content-center">
          <input
            class="form-control w-50"
            id="password"
            formControlName="password"
            type="password"
            placeholder="Password"
          />
        </div>
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="text-danger small mt-1">
          Parolunuz minimum 6 hərf və 1 böyük hərf, 1 rəqəm və 1 xüsusi seçilmiş simvol daxil etməlisiz.
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <div class="form-floating d-flex justify-content-center">
          <input
            class="form-control w-50"
            id="confirmPassword"
            formControlName="confirmPassword"
            type="password"
            placeholder="Confirm Password"
          />
        </div>
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && registerForm.get('confirmPassword')?.touched" class="text-danger small mt-1">
          Daxil etdiyiniz parol ilə uyğun deyil.
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg w-50" [disabled]="registerForm.invalid">
          Register
        </button>
      </div>
    </form>
  </div>
</div>
