<div class="container">
    <div class="row">
        <h2 class="text-center my-3">Parolu yenilə</h2>
        <div class="col-md-12 justify-content-center" style="display:flex">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group my-2">
                    <label for="userName" class="my-2">İstifadəçi adı</label>
                    <input id="userName" formControlName="userName" placeholder="İstifadəçi adınızı daxil edin" type="text" class="form-control w-100" />
                    <div *ngIf="resetPasswordForm.get('userName')?.invalid && resetPasswordForm.get('userName')?.touched">
                      <small class="text-danger">İstifadəçi adı tələb olunur.</small>
                    </div>
                  </div>
                  
                  <div class="form-group my-2">
                    <label for="newPassword" class="my-2">Yeni Parol</label>
                    <input class="form-control w-100" type="password" id="newPassword"  placeholder="Yeni parolu daxil edin" formControlName="newPassword" />
                    <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
                      <small class="text-danger">
                        Yeni parol tələb olunur və ən az 6 simvoldan ibarət olmalıdır.
                      </small>
                    </div>
                  </div>
                  
                <button type="submit" [disabled]="resetPasswordForm.invalid" class="btn btn-primary">Yenilə parolu</button>
                <p *ngIf="message">{{ message }}</p>
            </form>
        </div>
    </div>
</div>
